html {
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    font-family: "Roboto", Arial, sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--color-primary);
}

template {
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}